@page
@model HaydenProjects.Pages.IndexModel
@{
    ViewData["Title"] = Model.Title;
}

<link rel="stylesheet" href="~/css/index.css">

<h1 class="title">Hayden Projects</h1>
<div class="row row-space">
    <div class="row-2">
        <div class="item-group">
            <h3 class="project">
                <a class="link" href="/CarSearcher">
                    <img src="~/icons/CarSearcher.ico" width=32 height=32>
                    CarSearcher
                </a>
                <a class="tip" onclick="toggleTooltip(this, null)" onmouseover="toggleTooltip(this, true)" onmouseout="toggleTooltip(this, false)">
                    <i class="fa fa-info-circle"></i>
                    <span class="tooltiptext">CarSearcher provides results from Carsales, Facebook marketplace and Gumtree for used cars in Australia into one place.</span>
                </a>
            </h3>
        </div>
    </div>
    <div class="row-2">
        <div class="item-group">
            <h3 class="project">
                <a class="link" href="/CarGuesser">
                    <img src="~/icons/CarGuesser.ico" width=32 height=32>
                    CarGuesser
                </a>
                <a class="tip" onclick="toggleTooltip(this, null)" onmouseover="toggleTooltip(this, true)" onmouseout="toggleTooltip(this, false)">
                    <i class="fa fa-info-circle"></i>
                    <span class="tooltiptext">CarGuesser is a game that you have to guess what car it is based on the image.</span>
                </a>
            </h3>
        </div>
    </div>
</div>

@*<h2 class="title">Blogs</h2>
<div class="row row-space">
    <div class="row-moblie">
        <div class="item-group">
            <h3 class="project">
                <a class="link" href="/aaaaa">
                    aaaaa
                </a>
            </h3>
        </div>
    </div>
</div>*@

<script>
    var toggle = true;
    function toggleTooltip(element, set) {
        let tooltip = element.childNodes[3];
        toggle = set == null ? toggle : set;
        if (toggle)
            tooltip.classList.add("show");
        else
            tooltip.classList.remove("show");
        toggle = !toggle;
    }
</script>
