/* Main */
* {
    margin: 0;
    padding: 0;
}

.container {
    display: contents;
}

.pb-3 {
    padding-right: 200px;
    padding-left: 200px;
}

body {
    background-color: rgb(50, 50, 50);
}

.navbar {
    background-color: rgb(64, 64, 64);
}

.navbar-brand {
    color: snow;
}

.nav-link {
    color: snow;
}

.border-top {
    color: snow;
}

/* Search bar */
#SearchTerm {
    background-color: rgb(64, 64, 64);
    color: snow;
}

/* List */
.itemList {
    list-style-type: none;
}

h3 {
    font: bold 20px/ Helvetica, Verdana, sans-serif;
    color: snow;
}

h4 {
    font: bold 20px/ Helvetica, Verdana, sans-serif;
    color: snow;
}

li img {
    float: left;
    margin: 0 15px 0 0;
}

li p {
    font: 200 14px Georgia, Times New Roman, serif;
    color: snow;
}

.carItem {
    padding: 10px;
    overflow: auto;
}

.carItem:hover {
    background: lightgrey;
    cursor: pointer;
}

.list-group-item {
    background-color: rgb(75, 75, 75);
    display: flow-root list-item;
}

select {
    word-wrap: normal;
    background-color: rgb(64, 64, 64);
    color: snow;
}

.itemText {
    margin-top: 20px;
    list-style-type: none;
    color: snow;
    margin-bottom: 20px;
}

.itemText li {
    display: inline;
    margin-left: 10px;
}

/* Page buttons */
.pages {
    display: flex;
    padding-left: 550px;
    list-style: none;
    border-radius: .25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: snow;
    background-color: rgb(75, 75, 75);
    border: 1px solid #dee2e6;
}
