/* Main */
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
}

.pb-3 {
    padding-right: 10px;
    padding-left: 10px;
}

body {
    background-color: rgb(50, 50, 50);
}

.navbar {
    background-color: rgb(64, 64, 64);
}

.navbar-brand {
    color: snow;
}

.nav-link {
    color: snow;
}

.border-top {
    color: snow;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* List */
.itemList {
    list-style-type: none;
}

h3 {
    font: bold 20px/ Helvetica, Verdana, sans-serif;
    color: snow;
}

h4 {
    font: bold 20px/ Helvetica, Verdana, sans-serif;
    color: snow;
    margin-top: 15px;
}

h5 {
    font: bold 20px/ Helvetica, Verdana, sans-serif;
    color: snow;
}

h6 {
    font: bold 20px/ Helvetica, Verdana, sans-serif;
    color: snow;
}
li img {
    float: left;
    margin: 0 15px 0 0;
}

.listImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 767px) {
    .listImage {
        margin-right: 100%;
    }
}

li p {
    font: 200 14px Georgia, Times New Roman, serif;
    color: snow;
}

.carItem {
    padding: 5px;
    overflow: auto;
}

.carItem:hover {
    background: lightgrey;
    cursor: pointer;
}

.list-group-item {
    background-color: rgb(75, 75, 75);
    display: flow-root list-item;
}

.itemText {
    margin-top: 15px;
    list-style-type: none;
    color: snow;
    margin-bottom: 19px;
}

.itemText li {
    display: inline;
    margin-right: 10px;
}

.fa {
    color: deepskyblue;
}

/* Page buttons */
.pages {
    display: flex;
    padding-left: 550px;
    list-style: none;
    border-radius: .25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: snow;
    background-color: rgb(75, 75, 75);
    border: none;
}

/* Privacy */
h1 {
    font: bold 20px/ Helvetica, Verdana, sans-serif;
    color: snow;
}

p {
    font: 200 14px Helvetica, Times New Roman, serif;
    color: snow;
}